.git
.github
.conda
.venv
.idea
.vscode

__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

build
dist
*.egg-info
docs
test
unit_tests
benchmark
logs
tmp

*.bin
*.ckpt
*.gguf
*.onnx
*.pt
*.pth
*.safetensors
