accelerate==1.11.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiter @ file:///install/aiter-0.1.6.post2.dev55%2Bg59bd8ff2c-cp312-cp312-linux_x86_64.whl#sha256=a8ca044358d06f905142af3760112ae6ac51d7837dd7f74f4d50ea344397a919
amd-cupy==0.0.2
amdsmi @ file:///install/amdsmi-26.1.0%2B5df6c765-py3-none-any.whl#sha256=34b25047c629c8c0cdec52cde91aca0a9b1eabf32f855e17ff4450d665114697
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.71.0
anyio==4.11.0
astor==0.8.1
atomics==1.0.3
attrs==25.4.0
audioread==3.1.0
blake3==1.0.8
blinker==1.4
boto3==1.40.74
botocore==1.40.74
cachetools==6.2.2
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
cmake==3.31.6
compressed-tensors==0.12.2
conch-triton-kernels==1.2.1
cryptography==3.4.8
cuda-pathfinder==1.3.5
cupy-rocm-7-0==14.0.1
Cython==3.1.6
datasets==4.4.1
dbus-python==1.2.18
decorator==5.2.1
depyf==0.20.0
dill==0.4.0
diskcache==5.6.3
distro==1.9.0
distro-info==1.1+ubuntu0.2
dnspython==2.8.0
docstring_parser==0.17.0
easydict==1.13
einops==0.8.1
email-validator==2.3.0
fastapi==0.121.2
fastapi-cli==0.0.16
fastapi-cloud-cli==0.3.1
fastrlock==0.8.3
filelock==3.20.0
flash_attn @ file:///install/flash_attn-2.8.3-cp312-cp312-linux_x86_64.whl#sha256=90e5e26a69be1cd3c9fc9699df06979a87be7a759bf9ffed570862dcaf612968
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.10.0
gguf==0.17.1
google-api-core==2.28.1
google-auth==2.43.0
google-cloud-core==2.5.0
google-cloud-storage==3.5.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.72.0
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hiredis==3.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.20.2
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.36.0
humanize==4.14.0
Hypercorn==0.18.0
hyperframe==6.1.0
idna==3.11
importlib-metadata==4.6.4
iniconfig==2.3.0
interegular==0.3.3
jeepney==0.7.1
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keyring==23.5.0
lark==1.2.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
libnacl==2.1.0
librosa==0.11.0
-e git+https://github.com/ModelTC/LightLLM.git@a27dfc88c2144ed51a6e160b6fbe20aad66c8fe0#egg=lightllm
llguidance==1.3.0
llvmlite==0.44.0
lm-format-enforcer==0.11.3
loguru==0.7.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mistral_common==1.8.5
model-hosting-container-standards==0.1.7
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.19.0
multidict==6.7.0
multiprocess==0.70.18
networkx==3.5
ninja==1.13.0
numba==0.61.2
numpy==2.2.6
oauthlib==3.2.0
openai==2.8.0
openai-harmony==0.0.8
opencv-python-headless==4.12.0.88
orjson==3.11.7
outlines_core==0.2.11
packaging==25.0
pandas==2.3.3
partial-json-parser==0.2.1.1.post6
peft==0.18.0
pillow==12.0.0
platformdirs==4.9.2
pluggy==1.6.0
plumbum==1.10.0
pooch==1.9.0
priority==2.0.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.23.1
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.1
psutil==7.1.3
py-cpuinfo==9.0.0
py-spy==0.4.1
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pybind11==3.0.1
pycountry==24.6.1
pycparser==3.0
pydantic==2.12.4
pydantic-extra-types==2.10.6
pydantic_core==2.41.5
Pygments==2.19.2
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
pytest==8.4.2
pytest-asyncio==1.3.0
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
ray==2.51.1
redis==7.0.1
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rich==14.2.0
rich-toolkit==0.15.1
rignore==0.7.6
rpds-py==0.28.0
rpyc==6.0.2
rsa==4.9.1
runai-model-streamer==0.15.0
runai-model-streamer-gcs==0.15.0
runai-model-streamer-s3==0.15.0
s3transfer==0.14.0
safetensors==0.6.2
scikit-learn==1.8.0
scipy==1.16.3
SecretStorage==3.3.1
sentencepiece==0.2.1
sentry-sdk==2.44.0
setproctitle==1.3.7
setuptools==79.0.1
setuptools-scm==9.2.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soxr==1.0.0
starlette==0.49.3
supervisor==4.3.0
sympy==1.14.0
tensorizer==2.10.1
threadpoolctl==3.6.0
tiktoken==0.12.0
timm==1.0.22
tokenizers==0.22.1
torch @ file:///install/torch-2.9.0a0%2Bgit1c57644-cp312-cp312-linux_x86_64.whl#sha256=031950db43f7f8a93129c395caa230356ef0e8974c1eac136f160bb3b37e7482
torchvision @ file:///install/torchvision-0.23.0a0%2B824e8c8-cp312-cp312-linux_x86_64.whl#sha256=f1d5ee643283f0e0e27acaab28a012b71b71d6562bb662b36cd817334a6e7fce
tqdm==4.67.1
transformers==4.57.1
triton @ file:///install/triton-3.4.0-cp312-cp312-linux_x86_64.whl#sha256=aab4c02eafc1bb2b2f16eeb1726077f521ca277a8e79c0d34ee3c191208d5261
triton_kernels @ file:///install/triton_kernels-1.0.0-py3-none-any.whl#sha256=a5f71170d508234948919eb6166147c6c09d879afa424b2fa589d3ac07a44017
typer==0.20.0
typer-slim==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
unattended-upgrades==0.1
urllib3==2.5.0
uvicorn==0.38.0
uvloop==0.22.1
vllm @ file:///install/vllm-0.11.1rc7.dev217+gbe263f764.rocm710-cp312-cp312-linux_x86_64.whl
wadllib==1.3.6
watchfiles==1.1.1
websockets==15.0.1
wheel==0.45.1
wsproto==1.3.2
xgrammar==0.1.25
xxhash==3.6.0
yarl==1.22.0
zipp==1.0.0
