sphinx == 6.2.1
sphinx-book-theme == 1.0.1
sphinx-copybutton == 0.5.2
myst-parser == 2.0.0
sphinx-argparse
sphinxcontrib.redoc
sphinxcontrib.openapi

# packages to install to build the documentation
pydantic
openai # Required by docs/source/serving/openai_compatible_server.md's vllm.entrypoints.openai.cli_args
numpy